<%- include('partials/header'); -%>

<header>
    <div class="naruto">
        <img src="./assets/naruto.png" alt="naruto">
    </div>
    <div className="headings">
        <h2>Naruto Jutsus</h2>
        <h3>By Jad Taha</h2>
        <a href="/jutsus" class="btn"> View Jutsus</a>
    </div>
</header>

<%- include('./partials/footer'); -%>
