<%- include('partials/header'); -%>

<header>
    <div className="headings">
        <h2>Naruto Movements</h2>
        <h3>By Jad Taha</h2>
        <a href="/movements" class="btn"> View Movements</a>
    </div>
</header>

<%- include('./partials/footer'); -%>
