<%- include('partials/header'); -%>

<ul class="jutsus">
  <li class="jutsu">
    <img src="./assets/narutoBayron.jpeg" alt="naruto Bayron" />
    <h4>Baryon Mode</h4>
    <p>
      Recently used by Naruto Uzumaki, Baryon Mode is an extremely powerful
      jutsu that was available to Naruto Uzumaki and Kurama when they were
      together. This jutsu used their chakra as raw materials to give rise to
      incredibly potent energy, akin to nuclear fusion, that far exceeded
      anything seen in the story.
    </p>
    <p>
      Using this energy, Naruto was able to access a form known as Baryon Mode.
      Its powers made Naruto strong enough to overpower Isshiki Otsutsuki
      completely in battle, essentially making Naruto the strongest of all
      characters in the story. Baryon Mode heightened Naruto's physical and
      mental prowess beyond even Six Paths Sage Mode at the expense of his and
      Kurama's life force. However, at the same time, any contact he made with
      Isshiki also drained his life force and reduced his lifespan to mere
      minutes.
    </p>
  </li>
</ul>

<%- include('partials/footer'); -%>
